# Dependencies
node_modules/
/.pnp
.pnp.*

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Firebase
.firebase/
*-debug.log*
.firebaserc

# Environment files
.env*

# Misc
.DS_Store
*.pem
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
